m_login.py filter=git-crypt diff=git-crypt
secrets.sh filter=git-crypt diff=git-crypt
settings_local.py filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
